.list__cards {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 300px;
  gap: 20px;
}

.cards {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #000000;
}
